build/Capstone_Project.bin
build/Capstone_Project.elf
build/Capstone_Project.hex
build/Capstone_Project.map
build/main.d
build/main.lst
build/main.o
build/startup_stm32h750xx.d
build/startup_stm32h750xx.lst
build/startup_stm32h750xx.o
build/
Makefile
test/CursesScreen/curses_test
